.spaziatura-orari{
    margin: 15px;
}
.titolo-orari{
    background-color: #f7f3da;
    border-radius: 15px 15px 0 0 ;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.titolo-orari p{
    color: black;
    font-size: 8vw;

}

.giorni-ore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.giorni-ore table{
    width: 100%;
    text-align: center;
    font-size: 6vw
}

.giorni-ore table th{
    text-align: center;
}

.orari-apertura{
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.birilli{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.birilli p span{
    color: red;
}

.birillo{
    width: 50px;
}